name: Maintainability
on: [push]

jobs:
  maintainability_checks:
    name: Maintainability Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Set Up Environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Install Requirements
        run:  pip install -r $GITHUB_WORKSPACE/requirements.txt

      - name: Install Test Requirements
        run:  pip install -r $GITHUB_WORKSPACE/tests/requirements.txt

      - name: Execute Test
        uses: joocer/quality-indicators@main