name: Regression Suite

on: [push, pull_request]

jobs:
  regression_tests:
    name: Regression Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Set Up Environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
        
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r $GITHUB_WORKSPACE/requirements.txt
          pip install -r $GITHUB_WORKSPACE/tests/requirements.txt

      - name: Run Regression Tests
        run: coverage run -m pytest 

      - name: Check Coverage
        run: coverage report --include=data_expectations/** --fail-under=95 -m

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: false

  mypy:
    name: Type Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Set Up Environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip mypy
          pip install -r $GITHUB_WORKSPACE/tests/requirements.txt

      - name: Execute Test
        run: mypy data_expectations